@font-face {
    font-family: 'Hiragino Kaku Gothic ProN';
    src: url('../fonts/HiraKakuProN-W6-AlphaNum.eot');
    src: url('../fonts/../fonts/HiraKakuProN-W6-AlphaNum.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HiraKakuProN-W6-AlphaNum.woff2') format('woff2'),
        url('../fonts/HiraKakuProN-W6-AlphaNum.woff') format('woff'),
        url('../fonts/HiraKakuProN-W6-AlphaNum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    box-sizing: border-box;
    margin: 0 auto;
    box-sizing: border-box;
    font-family:'Proxima Nova', 'Open Sans', sans-serif;
    background-color: #DBD2C7;;
}
.container {
    max-width: 1260px;
    margin: 0 auto;
    position: relative;
}
header {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
    margin: 10px;
    .logo {
        margin-left: 40px;
    }
}
.container.head {
    display: flex;
    justify-content: space-around;
    width: 50%;
    li {
        list-style: none;
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.1em;
        text-align: left;
    }
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 208.7%;
    h2 {
        margin-bottom: 0px;
        margin-top: 0px;
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 208.7%;
        letter-spacing: 0.25em;
        span {
            background-color: black;
            color: white;
            font-style: normal;
            font-weight: 300;
            font-size: 32px;
            line-height: 158.7%;
            padding: 0 15px;
        }
    }
    h2.title_two {
        margin-left: 150px;
    }
}
.title.one {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
}
.page-content {
    display: flex;
    .firstpage-block__one {
        position: relative;
        right: 80px;
        img {
            height: 700px;
        }
    }
    .firstpage-block__two {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .block__two {
            background: rgba(255, 255, 255, 0.5);
            width: 100%;
            position: relative;
        }
        .block__two.one {
            img {
                position: absolute;
                right: 25px;
                bottom: -15px;
            }
        }
        .block__two.two {
            margin-top: 30px;
            img {
                position: absolute;
                right: 51px;
                top: -10px;
            }
        }

    }
}

.block__two {
    background: rgba(255, 255, 255, 0.5);
    width: 90%;
    position: relative;
}
.description {
    padding: 25px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px;
}
@media (min-width: 1280px) and (max-width:1440px) {
    .firstpage-content .firstpage-block__two .block__two {
        width: 90%;
    }
    .firstpage-content .firstpage-block__one {
        right: 30px;
    }
}
.container.two {
    .title.two {
        width: 750px;
        justify-content: flex-start;
        align-items: baseline;
        position: relative;
        top: 40px;
        h2.title_two {
            margin-left: 250px;
        }
    }
    .page-content.second {
        flex-direction: row-reverse;
        .secondpage-block__one {
            position: relative;
            left: 80px;
            img {
                height: 600px;
            }
        }
        .secondpage-block__two {
            margin-top: 80px;
            .block__two.two {
                background: white;
                bottom: 40px;
                left: 130px;
            }
            .block__two.one {
                padding-bottom: 20px;
            }
        }
    }
}
.title.three {
    flex-direction: row;
    justify-content: flex-start;
    letter-spacing: 0.25em;
}
.title.three span {
    color: white;
    background-color: black;
    margin-right: 5px;
    padding: 0 12px;
    letter-spacing: 0;
    line-height: 150%;
}
.thirdpage-block {
    display: flex;
    justify-content: space-between;
    .thirdpage-block__one {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-top: 40px;
        .block__one.one {
            background: #EDE9E3;
        }
        .thirdpage-block__one--content {
            h3 {
                font-style: normal;
                font-weight: 300;
                font-size: 19px;
                line-height: 212%;
                letter-spacing: 0.25em;
                margin-top: 65px;
                width: 50%;
                span {
                    background: black;
                    color: white;
                    padding:0 10px;
                    line-height: 150%;
                }
            }
            .thirdpage-block__list {
                margin-top: 10px;
                padding-left: 0px;
                li {
                    
                    list-style: none;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 182%;
                    color: #384F6A;
                }
            }
        }
    }
    .form {
        width: 40%;
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 19px;
            line-height: 208.7%;
            color: #4F4F4F;
            margin-top: 0px;
        }
        input {
            background: rgba(255, 255, 255, 0.17);
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            width: 100%;
            height: 56px;
            font-size: 19px;
            padding-left: 20px;
        }
        .button {
            width: 100%;
            height: 56px;
            border: none;
            margin-top: 50px;
            background: linear-gradient(91.39deg, #EEA783 -0.47%, #CDB381 135.58%);
            box-shadow: 10px 10px 37px rgba(0, 0, 0, 0.16);
            font-style: normal;
            font-weight: 300;
            font-size: 26px;
            line-height: 208.7%;
            text-transform: lowercase;
            color: #FFFFFF;
            letter-spacing: 0.4em;
            text-transform: uppercase;

        }
        input::placeholder {
            font-style: normal;
            font-weight: normal;
            font-size: 19px;
            line-height: 208.7%;
            color: #979797;
        }
        .third_img {
            display: flex;
            justify-content: center;
            position: absolute;
            left: 0;
            right: 0;
        }
    }
}
.page_four {
    background-image: url('/img/backfour.png');
    background-position: right;
    background-repeat: no-repeat;
}
.title.four {
    align-items: baseline;
    letter-spacing: 0.25em;
    width: 40%;
    span {
        background: black;
        color: white;
        padding:0 10px;
        align-self: flex-end;
        line-height: 150%;
    }
}
.pagefour-content {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
    .pagefour-block__two {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        .block__two.one {
            top: 20px;
            background-color: #EDE9E3;
            width: 80%;
            align-self: flex-end;
            .four_img {
                position: absolute;
                top: 130px;
                right: 35px;
            }
        }
        .block__two.two {
            background: #FFFFFF;
            position: initial;
            width: 80%;
            align-self: center;
        }
    }
}
.title.five {
    flex-direction: row;
    letter-spacing: 0.25em;
    justify-content: center;
    align-items: center;
    span {
        background: black;
        color: white;
        padding:0 10px;
        line-height: 150%;
    }
}
.page_five {
    background-image: url('/img/backfive.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pagefive-content {
    display: flex;
    justify-content: space-between;
    height: 615px;
    .pagefive-block_one {
        width: 325px;
        background: #EDE9E3;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        .block_one__content {
            width: 80%;
            position: relative;
            .block__one-img {
                position: absolute;
                top: -135px;
                left: -45px;
            }
            .block__one-title {
                margin-top: 80px;
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 150%;
                color: #234D80;
                margin-bottom: 10px;
                border-bottom: 1px solid #FFFFFF;;
            }
            .block__one-description {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 190%;
                color: #000000;
                margin:0px;
                margin-bottom: 20px;
                p {
                    margin: 0px;
                }
            }
            .block__one-price {
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 150%;
                color: #234D80;
                margin: 0px;
            }
            .block__one-price.two {
                margin-bottom: 20px;
            }
        }
    }
    .pagefive-block_two {
        display: flex;
        flex-direction: column;
        width: 70%;
        .block_two-title {
            font-style: normal;
            font-weight: bold;
            font-size: 21px;
            line-height: 150%;
            color: #000000;
            width: 70%;
            align-self: center;
        }
        .menu-block {
            background: #EDE9E3;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            backdrop-filter: blur(38px);
            margin-top: 20px;
            .menu_button {
                display: flex;
                margin-left: 50px;
                align-items: center;
                cursor: pointer;
                .menu_title {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 150%;
                    text-align: center;
                    color: #234D80;
                    margin-left: 20px;
                }
            }
            .menu_content {
                display: none;
                width: 85%;
                margin-left: 50px;
                animation: mymove 1.2s forwards;
                opacity: 0;
                margin-top: 0px;
                margin-bottom: 20px;
                li {
                    list-style: none;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 160%;
                    margin-top: 5px;
                }
            }
        }
        .menu-block.two {
            margin-bottom: 30px;
        }
        .block_two {
            background: #EDE9E3;
            width: 70%;
        }
        .block_two.second {
            background: #FFFFFF;
            width: 60%;
            position: relative;
            bottom: 25px;
            left: 160px;
        }
    }
}

.pagefive-content .pagefive-block_one .block_one__content .block__one-img.two {
 top: -120px;
 left: -68px;
}
.pagefive-content .pagefive-block_one .block_one__content .block__one-img.three {
    top: -135px;
    left: -63px;
}
.pagefive-content .pagefive-block_one .block_one__content .block__one-img.four {
    top: -80px;
    left: -55px;

}
.pagefive-content .pagefive-block_one .block_one__content .block__one-img.five {
    top: -95px;
    left: -33px;
}
@keyframes mymove {
    100% {opacity: 1;}
}
@-webkit-keyframes mymove {
    100% {opacity: 1;}
}

//plus button

.plus {
    position: relative;
    width:34px;
    height:34px;  

}
  
  .plus:before,
  .plus:after {
    content: "";
    position:absolute;
    background: #234D80
  }
  
  /* the vertical line */
  .plus:before {
    left:50%;
    top:4px; /* this defines how much black "border" there should be */
    bottom:4px;
    width:2px;
    transform:translateX(-50%);
  }
  
  /* the horizontal line */
  .plus:after {
    top:50%;
    left:4px;
    right:4px;
    height:2px;
    transform:translateY(-50%);
  }

.plus:before{
    transition-duration: 0.2s, 0.2s ;
    transition-delay: 0.2s, 0s;
}
.plus.is-active:before {
transform: rotate(90deg);
}

//

// Slides
.slide {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}

.fp-slidesNav.fp-bottom {
    text-align: center;
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
    width: 20px;
    height: 20px;
    background: black;
} 
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: white;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    width: 15px;
    height: 15px;
}
#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
    width: 18px;
    height: 18px;
    margin: -5px 0px 0px -5px
}
#fp-nav ul li, .fp-slidesNav ul li {
    margin-right: 20px;
}

.menu-block.mobile {
    display: none;
}
.menu-block.two.mobile {
    display: none;
}


.menu-block {
    background: #EDE9E3;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(38px);
    margin-top: 20px;
    .menu_button {
        display: flex;
        margin-left: 50px;
        align-items: center;
        cursor: pointer;
        .menu_title {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            text-align: center;
            color: #234D80;
            margin-left: 20px;
        }
    }
    .menu_content {
        display: none;
        width: 85%;
        margin-left: 50px;
        animation: mymove 1.2s forwards;
        opacity: 0;
        margin-top: 0px;
        margin-bottom: 20px;
        li {
            list-style: none;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 160%;
            margin-top: 5px;
        }
    }
}
.menu-block.two {
    margin-bottom: 30px;
}


//
.title.six {
    flex-direction: row;
    letter-spacing: 0.25em;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    span {
        background: black;
        color: white;
        padding:0 10px;
        line-height: 150%;
    }
}

.page_six {
    background-image: url('/img/client.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.client-card_block {
    justify-content: space-between;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    .card {
        width: 49%;
        display: flex;
        flex-direction: column;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.24);
        margin-bottom: 10px;
        .card_content {
            width: 95%;
            height: 90%;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            backdrop-filter: blur(38px);
            .client {
                display: flex;
                align-items: center;
                padding-left: 15px;
                padding-top: 10px;
                .client_title {
                    margin-left: 10px;
                    font-size: 15px;
                    line-height: 150%;
                    font-weight: bold;
                }
            }
            .description {
                padding-top: 10px;
                font-size: 15px;
            }
        }
    }
    .card.four {
        background-color: transparent;
        .card_content {
            backdrop-filter: blur(0px);
            display: flex;
            flex-direction: column;
            align-items: center;
            border: none;
            justify-content: space-between;
            .insta_title {
                font-weight: 300;
                font-size: 20px;
                line-height: 150%;
            }
            .insta_button {
                background: linear-gradient(91.32deg, #EEA783 -2.25%, #CDB381 107.1%);
                box-shadow: 10px 10px 37px rgba(0, 0, 0, 0.16);
                width: 270px;
                height: 58px;
                border:none;
                font-size: 28px;
                line-height: 208.7%;
                color: white;
                letter-spacing: 0.25em;
            }
        }
    }
}
.title.last {
    flex-direction: row;
    letter-spacing: 0.25em;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    span {
        background: black;
        color: white;
        padding:0 10px;
        letter-spacing: 0em;
        line-height: 150%;
        margin-right: 5px;

    }
}
.last_page__content {
    display: flex;
    justify-content: space-around;
    .last_page.first, .last_page.third {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
.img_back {
    background-image: url('/img/last1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 137px;
    height: 137px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.img_back.two {
    background-image: url('/img/last2.png');
}
.img_back.three {
    background-image: url('/img/last3.png');
}
.img_back.four {
    background-image: url('/img/last4.png');
}

@media (max-width:1280px) {
    .title {
        font-size: 18px;
        h2 {
            font-size: 18px;
            span {
                font-size: 18px;
            }
        }
    }
    .page-content.first {
        flex-direction: column;
    }
    .container {
        max-width: 90%;
    }
    .title.one {
        position: absolute;
        left: unset;
        right: 0;
        top: 80px;
        width: 170px;
        h2 {
            font-size: 16px;
            span {
                font-size: 18px;
            }
        }
        h2.title_two {
            margin-left: 0px;
        }
    }
    .title.two {
        margin-top: 40px;
    }
    .page-content {
        display: flex;
        padding-top: 0px;
        .firstpage-block__one {
            position: initial;
            right: 0px;
            img {
                height: 300px;
            }
        }
    }
    .container.two {
        .title.two {
            width: auto;
            justify-content: flex-start;
            align-items: baseline;
            position: initial;
            h2.title_two {
                margin-left: 100px;
            }
        }
        .page-content.second {
            flex-direction: column;
            .secondpage-block__one {
                position: initial;
                img {
                    height: 400px;
                }
            }
            .secondpage-block__two {
                margin-top: 20px;
                .block__two.two {
                    background: white;
                    bottom: 40px;
                    left: 130px;
                    margin-top: 20px;
                }
                .block__two.one {
                    padding-bottom: 20px;
                }
            }
        }
    }
    .block__two {
        background: rgba(255, 255, 255, 0.5);
        width: 100%;
        position: initial;
    }
    .description {
        padding: 25px;
        font-family: Open Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        
    }
    .thirdpage-block {
        flex-direction: column;
        .thirdpage-block__one {
            width: 100%;
            .thirdpage-block__one--content h3 {
                width: 100%;
            }
        }
        .form {
            width: 100%;
            .third_img {
                display: none;
            }
            input {
                height: 42px;
                font-size: 16px;
            }
            .button {
                font-size: 18px;
                height: 42px;
            }
        }
    }
    .page_four {
        background-image: none;
    }
    .title.four {
        width: 100%;
    }
    .pagefour-content {
        flex-direction: column;
        align-items: center;
        .pagefour-block__one {
            img {
                width: 170px;
            }
        }
        .pagefour-block__two {
            flex-direction: column;
            margin-left: 0px;
            .block__two {
            }
            .block__two.one {
                width: 100%;
                .four_img {
                    display: none;
                }
            }
            .block__two.two {
                width: 100%;
                margin-top: 20px;
            }
        }
    } 
    .pagefive-content {
        height: auto;
        .pagefive-block_one  {
            width: 100%;
            .menu-block.mobile {
                display: flex;
            }
            .menu-block.two.mobile {
                display: flex;
            }
            .menu-block {
                .menu_button {
                    margin-left: 20px;
                    .plus {
                        width: 30px;
                        height: 30px;
                    }
                    .menu_title {
                        font-size: 15px;
                    }
                }
            }
        }
        .pagefive-block_two {
            display: none;
        }
    }
    .container.six {
        .client-card_block {
            flex-direction: column;
            .card {
                width: 100%;
            }
            .card.four {
                .card_content {
                    .insta_button {
                        height: 42px;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .last_page__content {
        flex-direction: column;
        .last_page.second {
            order: -1;
            display: flex;
            justify-content: center;
            img {
            width: 80%;
            }
        } 
        .last_page {
            margin-top: 40px;
            .img_back {
                width: 82px;
                height: 82px;
                img {
                    width: 60%;
                }
            }
        }
    }
    .last_page__content .last_page.first, .last_page__content .last_page.third {
        flex-direction: row;
    }
}